//FCC Color Schemes
$FCCGreen: #006400;
$FCCBlue: #31708F;
$FCCBlack: #333333;
$FCCLightBlue: #d9edf7;
*{
	box-sizing:border-box;
	margin:0;
	padding:0;
	font-family: sans-serif;
}

table {
	margin: 0 auto;
	width:75%;
	border-color:solid 1px;
	border-collapse: collapse;
	border-radius:15px;
	margin-top:10%;

}
table tr{
	border:solid 1px white;
	border-top-color: #DDDDDD ;
	border-bottom-color: #DDDDDD;
}
td {
	color: darkgreen;
	font-weight: bold;
	padding:.25em;
	text-align:center;
}
table img{

	width:50px;
	height:50px;
	border-radius:15px;
}
tr:nth-child(odd) {
	background-color:#F9F9F9;
}

thead#chartHead tr td{
	background-color: white;
	color: $FCCBlack;
	font-size:1.5em;
	border-bottom-color: #dddddd;
	border-top-left-radius: 15px;
	border-top-right-radius:15px;
}

thead#chartHead tr{
	border-top-color: white;
	border-bottom-color: #dddddd;
	cursor:default;
}
div.Banner{
	margin:0 auto;
	padding-top:0px;
	padding-bottom:0px;
	background-color:darkgreen;
	color:white;
	position:fixed;
	height:50px;
	display:aboslute;
	top:0;
	width:100%;
	padding-left:30px;
	padding-right:30px;
	color:#eeeeee
}
.Banner #Logo{
	margin-top:5px;
	display:inline;
	height:40px;
	text-align:left;
	padding-top:5px;
	padding-bottom:5px;
	vertical-align: middle;
	font-weight:100;
	cursor:pointer;
}

.Banner #Nav{
	display:inline;
	height:100%;
	float:right;
	font-weight: bold;	
	text-align:right;
	font-size:20px;
	padding: 15px;
	vertical-align: middle;
	cursor:pointer;
}

.Banner #Nav:hover{
	background-color:#EEEEEE;
	color: darkgreen;
}

.userRow:hover{
	background-color:#D9EDF7;
	cursor:pointer;
}

.selectedSetting{
	background-color:#D9EDF7;
}

#recent, #allTime {
	cursor:pointer;
}

#alltime {
	background-color: #D9EDF7;
}